<footer id="footer" style="background-image: url(images/bg-04.webp)">
	<div class="container">
		<div class="technology_partners-block">
			<div class="title-block">
				<h6>Powered by Leading Platforms</h6>
				<h2>Technology Partners</h2>
			</div>
			<ul class="logos-list">
				<li style="width:263px;"><img src="images/logo-persistent.png" alt="Persistent"></li>
				<li style="width:273px;"><img src="images/logo-thales.png" alt="Thales | Building a future we can all trust"></li>
				<li style="width:347px;"><img src="images/logo-l3harris.png" alt="L3HARRIS&trade;"></li>
				<li style="width:347px;"><img src="images/logo-iridium.png" alt="iridium&reg;"></li>
				<li style="width:212px;"><img src="images/logo-at-t.png" alt="AT&T"></li>
				<li style="width:141px;"><img src="images/logo-sila.png" alt="Sila"></li>
				<li style="width:301px;"><img src="images/logo-trellisware.png" alt="TrellisWare&reg;"></li>
				<li style="width:104px;"><img src="images/logo-iqt.png" alt="IQT&reg; | IN &bull; Q &bull; TEL"></li>
			</ul>
		</div>
		<div class="footer-block">
			<div class="columns-block">
				<div class="logo-column">
					<strong class="logo"><a href="#"><img src="images/logo-iblades.png" alt="iblades.ai&trade; | safe, effective, secure."></a></strong>
				</div>
				<div class="menu-column">
					<ul class="menu">
						<li><a href="#solutions-section">Solutions</a></li>
						<li><a href="#applications-section">Applications</a></li>
						<li><a href="#nettron-section">NetTron</a></li>
						<li><a href="#coverage_map-section">Coverage Map</a></li>
						<li><a href="#guardtron-section">GuardTron</a></li>
						<li><a href="#benefits-section">Benefits</a></li>
						<li><a href="#cyber_retransmission-section">ManoTron</a></li>
						<li><a href="#footer">Partners</a></li>
					</ul>
				</div>
				<div class="contacts-column">
					<a href="mailto:hello@iblades.ai">hello@iblades.ai</a>
					<span class="subtitle">HEADQUARTERS</span>
					<p>127 Spring Street, Suite 120 Pleasanton, CA 94566</p>
					<span class="subtitle">R&D CENTER</span>
					<p>795 24th Street Ogden,&nbsp;UT&nbsp;84401</p>
				</div>
			</div>
			<div class="copyright-block">
				<p>&copy; 2025 iblades.ai. All rights reserved.</p>
				<p>All trademarks and technologies are the property of their respective owners.</p>
			</div>
		</div>
	</div>
</footer>
