<header id="header">
	<div class="container">
		<div class="columns-block">
			<div class="logo-column">
				<strong class="logo"><a href="#"><img src="images/logo-iblades.svg" alt="iblades.ai&trade; | safe, effective, secure."></a></strong>
			</div>
			<nav id="nav-bar">
				<a class="nav-opener" href="javascript:;">
					<span class="line">Menu</span>
				</a>
				<div class="nav-drop">
					<ul class="menu-list">
						<li><a href="#">Solutions</a></li>
						<li><a href="#">NetTron</a></li>
						<li><a href="#">GuardTron</a></li>
						<li><a href="#">ManoTron</a></li>
						<li><a href="#">Applications</a></li>
						<li><a href="#">Coverage Map</a></li>
						<li><a href="#">Benefits</a></li>
						<li><a href="#">Partners</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</header>
