<header id="header">
	<div class="container">
		<div class="columns-block">
			<div class="logo-column">
				<strong class="logo"><a href="#"><img src="images/logo-iblades.png" alt="iblades.ai&trade; | safe, effective, secure."></a></strong>
			</div>
			<nav id="nav-bar">
				<a class="nav-opener" href="javascript:;">
					<span class="line">Menu</span>
				</a>
				<div class="nav-drop">
					<ul class="menu-list">
						<li><a href="#solutions-section">Solutions</a></li>
						<li><a href="#nettron-section">NetTron</a></li>
						<li><a href="#guardtron-section">GuardTron</a></li>
						<li><a href="#cyber_retransmission-section">ManoTron</a></li>
						<li><a href="#applications-section">Applications</a></li>
						<li><a href="#coverage_map-section">Coverage Map</a></li>
						<li><a href="#benefits-section">Benefits</a></li>
						<li><a href="#footer">Partners</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</header>
