//elements
html {
	scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

h1 {
	font-size: 36px;

	@include media ('>=phone') {
		font-size: 48px;
	}

	@include media ('>=desktop') {
		font-size: 64px;
	}
}

h2 {
	font-size: 34px;

	@include media ('>=phone') {
		font-size: 42px;
	}

	@include media ('>=desktop') {
		font-size: 48px;
	}
}

h3 {
	font-size: 32px;

	@include media ('>=phone') {
		font-size: 36px;
	}

	@include media ('>=desktop') {
		font-size: 40px;
	}
}

h4 {
	font-size: 24px;

	@include media ('>=phone') {
		font-size: 28px;
	}

	@include media ('>=desktop') {
		font-size: 32px;
	}
}

h5 {
	font-size: 20px;

	@include media ('>=phone') {
		font-size: 24px;
	}

	@include media ('>=desktop') {
		font-size: 28px;
	}
}

h6 {
	font-size: 18px;

	@include media ('>=phone') {
		font-size: 20px;
	}

	@include media ('>=desktop') {
		font-size: 24px;
	}
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

.container {
	max-width: 1320px;
	padding: 0 20px;
	width: 100%;
	margin: 0 auto;

	@include media ('>=desktop') {
		padding: 0 40px;
	}
}

.btn {
	@include animate(background);

	display: inline-block;
	background: $blue;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	color: $white;

	@include media ('>=tablet') {
		padding: 19px 38px;
		font-size: 20px;
	}

	&:hover {
		// background: darken($blue, 6);
	}
}

.logo {
	display: inline-block;
	width: 150px;

	@include media ('>=tablet') {
		width: 199px;
	}

	a, img {
		display: block;
	}
}

.intro-section {
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	min-height: 960px;
}