mark {
	background: none;
	color: $blue;
}

.container {
	max-width: 1840px;
	padding: 0 20px;
	width: 100%;
	margin: 0 auto;

	@include media ('>=desktop') {
		padding: 0 40px;
	}
}

.btn {
	@include animate(background);

	display: inline-block;
	background: linear-gradient(65.05deg, #0084FB 8.03%, #71A8E4 101.62%);
	padding: 20px 15px;
	font:600 18px/1 $font-sans-serif;
	letter-spacing: -.6px;
	text-align: center;
	text-decoration: none;
	color: $white;

	@include media ('>=tablet') {
		padding: 25px 15px;
	}

	@include media ('>=desktop') {
		padding: 38px 15px;
		font-size: 24px;
	}

	&:hover {
		// background: darken($blue, 6);
	}
}

.logo {
	display: inline-block;
	width: 140px;

	@include media ('>=widescreen') {
		width: 231px;
	}

	a, img {
		display: block;
	}
}

.intro-section {
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	padding: 0 0 30px;
	font-size: 16px;
	font-weight: 500;
	color: $white;
	display: flex;
	flex-direction: column;
	min-height: 800px;

	@include media ('>=desktop') {
		padding: 0 0 85px;
		font-size: 18px;
		min-height: 960px;
	}

	.container {
		display: flex;
		align-items: flex-end;
		height: 100%;
		flex-grow: 1;
	}

	.content-wrapper {
		
		@include media ('>=desktop') {
			width: 100%;
		}
	}

	.post-block {
		padding: 0 0 15px;

		@include media ('>=desktop') {
			display: flex;
			justify-content: center;
			gap: 0 20px;
		}

		.post-holder {
			
			@include media ('>=desktop') {
				width: 78.41%;
			}
		}

		br {

			@include media ('<desktop') {
				display: none;
			}
		}
	}

	.btn-holder {

		@include media ('>=desktop') {
			width: 21.59%;
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
		}

		.btn {
			width: 100%;
			max-width: 356px;

			@include media ('>=desktop') {
				margin: 0 0 22px;
			}
		}
	}

	.contacts-block {
		margin: 0 0 -1em;

		@include media ('>=desktop') {
			display: flex;
			justify-content: space-between;
			gap: 0 20px;
		}

		a {
			display: block;
			margin: 0 0 1em;

			&:hover {
				text-decoration: underline;
			}
		}
	}
	// 17.6
	// 78.41
}

.solutions-section {
	padding: 30px 0;
	text-align: center;
	font-size: 16px;
	line-height: 1.21;
	font-weight: 600;

	@include media ('>=tablet') {
		font-size: 18px;
	}

	@include media ('>=desktop') {
		padding: 115px 0 62px;
		font-size: 24px;
	}

	h2 {
		margin: 0 0 .32em;
	}

	h6 {
		margin: 0 0 1.45em;
	}

	.post-block {
		margin: 0 0 30px;

		@include media ('>=desktop') {
			max-width: 1260px;
			margin: 0 auto 80px;
		}
	}

	.img-block {
		max-width: 1398px;
		margin: 0 auto;
	}
}

.nettron-section {
	padding: 30px 0;

	@include media ('>=desktop') {
		padding: 55px 0;
	}

	h2 {
		margin: 0 0 .32em;
	}

	h4 {
		margin: 0 0 .6em;
	}

	h6 {
		margin: 0 0 1.2em;
	}

	.title-block {
		margin: 0 0 30px;

		@include media ('>=desktop') {
			margin: 0 0 80px;
		}
	}

	.nettron-grid {

		@include media ('>=tablet') {
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
		}
	}

	.nettron-card {
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
		padding: 20px;
		border: 1px solid #A1A1A1;
		flex: 1 1 calc(33.333% - 10px);
		display: flex;
		flex-direction: column;
		font-size: 18px;
		line-height: 1.2;
		font-weight: 600;
		max-width: 600px;
		margin: 0 auto 20px;

		@include media ('>=tablet') {
			max-width: none;
			margin: 0;
		}

		@include media ('>=desktop') {
			padding: 30px;
			font-size: 20px;
		}

		@include media ('>=widescreen') {
			padding: 43px 35px 43px;
			font-size: 24px;
		}

		&:nth-child(2) {
			color: $white;
		}

		&:nth-child(4),
		&:nth-child(5) {
			flex: 1 1 calc(50% - 5px);

			.ico-holder {
				min-height: 45px;
				margin-bottom: 30px;

				@include media ('>=desktop') {
					margin-bottom: 58px;
				}
			}
		}

		.ico-holder {
			margin-bottom: 30px;

			@include media ('>=widescreen') {
				margin-left: 7px;
				margin-bottom: 88px;
			}
		}

		.post-block {
			margin: 0 0 -.5em;
		}
	}
}

.security-section {
	background: $black400;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: .3px;
	// overflow: hidden;

	@include media ('>=desktop') {
		font-size: 18px;
	}

	@include media ('>=widescreen') {
		font-size: 24px;
	}

	h2 {
		margin: 0 0 .35em;
	}

	h4 {
		margin: 0 0 .6em;
	}

	h6 {
		margin: 0 0 1.3em;
	}

	.columns-block {

		@include media ('>=tablet') {
			display: flex;
		}
	}

	.img-column {

		@include media ('>=tablet') {
			width: 50%;
		}

		img {
			@include size(100%);

			max-width: none;
			object-fit: cover;
			object-position: 35% top;
		}
	}

	.post-column {
		padding: 20px;
		color: $white;

		@include media ('>=tablet') {
			width: 50%;
		}

		@include media ('>=desktop') {
			padding: 40px;
		}

		@include media ('>=widescreen') {
			padding: 50px;
		}

		@include media ('>=ls-widescreen') {
			padding: 80px 84px;
		}
	}

	.security-list {
		@extend %listreset;

		margin-top: 30px;
		letter-spacing: 0;

		@include media ('>=desktop') {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			gap: 0 40px;
			margin-top: 50px;
		}

		@include media ('>=ls-widescreen') {
			gap: 0 60px;
			margin-top: 85px;
		}

		li {

			@include media ('>=desktop') {
				width: calc(50% - 20px);
			}

			@include media ('>=ls-widescreen') {
				width: calc(50% - 30px);
			}

			&:not(:last-child) {
				margin: 0 0 20px;

				@include media ('>=desktop') {
					margin: 0 0 30px;
				}
			}

			.counter-holder {
				font-size: 28px;
				line-height: 1;
				font-weight: 600;
				font-family: $secondary-sans-serif;
				color: $blue;
				display: block;
				margin-bottom: 17px;

				@include media ('>=tablet') {
					font-size: 34px;
				}

				@include media ('>=desktop') {
					font-size: 50px;
				}

				@include media ('>=widescreen') {
					font-size: 60px;
				}
			}
		}
	}
}

.protection-section {
	padding: 30px 0;

	@include media ('>=desktop') {
		padding: 120px 0;
	}

	h2 {
		margin: 0 0 .32em;
	}

	h4 {
		margin: 0 0 .6em;
	}

	h6 {
		margin: 0 0 1.2em;
	}

	.title-block {
		margin: 0 0 30px;
		text-align: center;
		font-size: 16px;
		line-height: 1.2;
		font-weight: 600;
		letter-spacing: -.5px;

		@include media ('>=tablet') {
			font-size: 18px;
		}

		@include media ('>=desktop') {
			margin: 0 0 80px;
			font-size: 24px;
		}
	}

	.columns-block {

		@include media ('>=desktop') {
			display: flex;
		}
	}

	.left-protection-list,
	.right-protection-list {
		@extend %listreset;

		@include media ('>=desktop') {
			width: 50%;
		}

		li {
			padding: 20px;
			border-top: 1px solid #C7C7C7;
			display: flex;
			align-items: center;
			gap: 0 20px;
			font-size: 16px;
			line-height: 1.2;
			font-weight: 600;

			@include media ('>=desktop') {
				padding: 20px 0 20px 30px;
				font-size: 20px;
				min-height: 235px;
			}

			@include media ('>=widescreen') {
				padding: 25px 40px 25px 60px;
				font-size: 24px;
				gap: 0 40px;
			}

			.counter-holder {
				@include size(80px);

				background: $white;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 15px;
				font-size: 40px;
				line-height: 1;
				font-weight: 600;
				font-family: $secondary-sans-serif;
				color: $blue;
				border-radius: 100%;

				@include media ('>=desktop') {
					@include size(120px);

					font-size: 44px;
					min-width: 120px;
				}

				@include media ('>=ls-widescreen') {
					padding: 30px;
					font-size: 60px;
				}
			}
		}

		p {
			margin: 0;
		}
	}

	.left-protection-list {

		li {
			padding: 20px;
			border-right: 1px solid #C7C7C7;

			@include media ('>=desktop') {
				padding: 20px 30px 20px 0;
			}

			@include media ('>=widescreen') {
				padding: 25px 60px 25px 0;
			}
		}
	}
}