#header {
	@include animate(background padding border-color);
	--_header-height: 81px;

	padding: 20px 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	border-bottom: 1px solid transparent;
	color: $white;

	@include media ('>=desktop') {
		--_header-height: 159px;

		padding: 48px 0;
	}

	&.fixed-position {
		--_header-height: 81px;

		background: #0084FB;
		border-color: $white;
		padding: 20px 0;
	}

	.columns-block {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0 10px;
	}

	#nav-bar {

		&.nav-active {

			.nav-opener {

				&:before {
					background: $white;
					transform: translate(0, 10px) rotate(-135deg);
					width: 30px;
				}

				span {
					background: $white;
					width: 0;
				}

				&:after {
					background: $white;
					transform: translate(0, -10px) rotate(135deg);
					width: 30px;
				}
			}
			
			.nav-drop {

				@include media ('<desktop') { 
					background: linear-gradient(65.05deg, #0084FB 8.03%, #71A8E4 101.62%);
					inset-inline: 0;
					opacity: 1;
					transition: opacity .3s 0s, inset 0s 0s;
				}
			}
		}

		.nav-opener {
			@include animate(background border-color);
			@include size(34px);

			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 8px 0;
			text-indent: -9999px;
			overflow: hidden;
			z-index: 9999;
			float: right;

			@include media ('>=desktop') {
				display: none;
			}

			&:before,
			&:after,
			& span {
				@include animate(background width transform);

				content: '';
				background: $white;
				width: 100%;
				height: 2px;
			}
		}

		.nav-drop {
			z-index: 99;

			@include media ('<desktop') { 
				display: block;
				position: absolute;
				inset: 0 100% calc(-100vh + var(--_header-height)) -100%;
				padding: calc(var(--_header-height) + 30px) 30px;
				overflow-x: hidden;
				overflow-y: auto;
				opacity: 0;
				transition: opacity .3s 0s, inset 0s 0s;
			}

			@include media ('>=desktop') {
				display: flex;
			}
		}
	}

	.menu-list {
		@extend %listreset;

		text-align: center;

		/* desktop */
		@include media ('>=desktop') {
			display: inline-flex;
			align-items: center;
			gap: 0 10px;
			border-radius: 30px;
			text-align: left;
		}

		@include media ('>=widescreen') {
			gap: 0 15px;
		}

		@include media ('>=ls-widescreen') {
			gap: 0 39px;
			margin-right: -10px;
		}

		li {
			margin: 0 0 30px;
			position: relative;

			@include media ('>=desktop') {
				margin: 0;
			}
		}

		a {
			display: inline-block;
			padding: 10px 7px;
			font:500 14px/1 $font-sans-serif;
			text-decoration: none;
			position: relative;
			color: $white;

			@include media ('>=widescreen') {
				font-size: 16px;
			}

			@include media ('>=ls-widescreen') {
				padding: 10px;
				font-size: 18px;
			}

			&:before {

				@include media ('>=desktop') {
					@include size(0, 2px);
					@include animate(width, .2s);

					content: '';
					background: $white;
					position: absolute;
					left: 50%;
					bottom: 2px;
					transform: translateX(-50%);
				}
			}

			&:hover {

				@include media ('<desktop') {
					text-decoration: underline;
				}

				&:before {

					@include media ('>=desktop') {
						width: 100%;
					}
				}
			}
		}
	}
}
